export(vcgBorder)
export(vcgClean)
export(vcgClost)
export(vcgCurve)
export(vcgGetEdge)
export(vcgIntersect)
export(vcgIsolated)
export(vcgMeshres)
export(vcgNonBorderEdge)
export(vcgPlyRead)
export(vcgQEdecim)
export(vcgSample)
export(vcgSmooth)
useDynLib(Rvcg)
